@model Marketplace.Models.User

@{
    ViewData["Title"] = Model.Name;
}

<form class="d-flex justify-content-end m-3" action="/Home/BanToggle/@Model.Id" method="post">
    <button class="btn btn-dark" type="submit" id="ban-toggle-btn">
        @{
            if (Model.IsBanned)
            {
                @:Unban
            }
            else
            {
                @:Ban
            }
        }
    </button>
</form>


<table class="table table-bordered w-75 m-auto">
    <tr>
        <th scope="row">Id</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th scope="row">Role</th>
        @{
            string role = Model.RoleId == 1 ? "Admin" : "User";
        }
        <td>@role</td>
    </tr>
    <tr>
        <th scope="row">Name</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th scope="row">Email</th>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <th scope="row">Phone</th>
        <td>@Model.Phone</td>
    </tr>
    <tr>
        <th scope="row">Description</th>
        <td>@Model.Description</td>
    </tr>
    <tr>
        <th scope="row">Registration date</th>
        <td>@Model.RegistrationDate</td>
    </tr>
</table>

@section Scripts
{
    <script src="~/js/user.js"></script>
}

