@model Ad

@{
    ViewData["Title"] = "Ad";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/ad.css" type="text/css" />
}


<div class="position-relative">
    <h2 class="text-center m-3">@Model.Title</h2>

    <!-- setting dropdown menu -->
    <div id="setting-container" class="dropdown position-absolute">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="setting-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Settings
        </button>
        <div class="dropdown-menu" aria-labelledby="setting-btn">

            @if (Model.OwnerCheck(ViewBag.User.Id)|| ViewBag.User.IsAdmin())
            {
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#deleteModal">Delete</a>

                @if (Model.OwnerCheck(ViewBag.User.Id))
                {
                    <a class="dropdown-item" href="/Home/Update/@Model.GetAdURLQuery()">Update</a>
                }
                else
                {
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#reportModal">Report</a>
                }

                @if (ViewBag.User.IsAdmin())
                {
                    <a class="dropdown-item" href="#" id="freeze-trigger">
                        @{ string freeezeStatus = Model.IsFreezed ? "Defreeze" : "Freeze"; }
                        @freeezeStatus
                    </a>
                }

            }
        </div>
    </div>
</div>

<!-- delete modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete this ad?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="/Home/Delete/@Model.GetAdURLQuery()">
                    <button type="submit" class="btn btn-dark">Accept</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- buy modal -->
<div class="modal fade" id="buyModal" tabindex="-1" role="dialog" aria-labelledby="buyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="buyModalLabel">You just made an order!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Now, just await on seller`s response :)</p>
            </div>
        </div>
    </div>
</div>

<!-- report modal -->
<div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reportModalLabel">Fill in form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="reportForm">
                    <input value="@Model.Id" name="adId" hidden />
                    <input value="@Model.Category" name="adCategory" hidden />
                    <div class="form-group">
                        <label for="reportTypeInput">Report type</label>
                        <select class="form-control" id="reportTypeInput" name="reportType">
                            <option>Scam</option>
                            <option>Illegal</option>
                            <option>Other</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="commentText">Comment</label>
                        <textarea class="form-control" id="commentText" rows="3" name="comment"></textarea>
                    </div>
                    <button type="submit" class="btn btn-dark">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="content">
    <div class="d-flex align-items-center">
        <img id="curr-ad-photo" class="mr-3" src="@Model.GetImgSrc()" />

        <div id="price-dateloc-container" class="position-relative w-75">
            
                <div class="d-flex align-items-center position-absolute top-0 right-0">
                    <p id="price">@Model.Price</p>

                    @if (!Model.OwnerCheck(ViewBag.User.Id))
                    {
                        <button id="buy-btn" class="btn btn-success">Buy</button>
 
                        string trackedClass = Model.Subscribers.Contains(ViewBag.User.Id) ? "tracked" : "";
                        
                        <button id="track-btn" class="btn @trackedClass"></button>
                    }
                </div>
            

            <!-- date & location info -->
            <div class="text-secondary position-absolute bottom-0 left-0">
                <p>@Model.CreationDate</p>
                <p>@Model.Location</p>
            </div>

        </div>
    </div>

    <div class="row mt-3">
        <div class="col-8">
            <p id="ad-description">@Model.Description</p>
        </div>

        <div class="col-4">
            <table class="float-right">
                <tr>
                    <th>Property Name</th>
                    <th>Property Value</th>
                </tr>
                @foreach (KeyValuePair<string, string> kvp in Model.GetAdditionalProperties())
                {
                    <tr>
                        <td>@kvp.Key</td>
                        <td>@kvp.Value</td>
                    </tr>
                }
            </table>
        </div>
    </div>

</div>

@section Scripts
{
    <script src="~/js/ad.js"></script>
}